include labelInputPair.pug

- var titleText = "Users"

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= titleText
    body 
        div
            h3= titleText
            +homeButton()

            p=Sort

            form(action="/users/firstName", method="get")
                input(type="hidden", name="firstName", value="firstName")
                button(type="submit") First Name

            form(action="/users/lastName", method="get")
                input(type="hidden", name="lastName", value="lastName")
                button(type="submit") Last Name
            
            form(action="/users/email", method="get")
                input(type="hidden", name="email", value="email")
                button(type="submit") Email 

            form(action="/users/age", method="get")
                input(type="hidden", name="age", value="age")
                button(type="submit") Age
        if users.length > 0
            ul 
                each usr in users
                    li 
                        a(href="/user/" + usr.id)
                            div
                                h5= "Name: " + usr.firstName + " " + usr.lastName 
                                p= "Email: " + usr.email 
                                p= "Age: " + usr.age
                                form(action="/delete/" + usr.id, method="post")
                                    input(type="hidden", name="id", value=usr.id)
                                    button(type="submit") Delete
        else 
            p= "No users saved"