include labelInputPair.pug

- var titleText = "Users"

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= titleText
    body 
        div
            h3= titleText
            +homeButton()

            p="Sort"

            form(action="/users/firstname", method="get")
                input(type="hidden", name="firstname", value="firstname")
                button(type="submit") First Name Ascending

            form(action="/users/-firstname", method="get")
                input(type="hidden", name="firstname", value="firstname")
                button(type="submit") First Name Descending

            form(action="/users/lastname", method="get")
                input(type="hidden", name="lastname", value="lastname")
                button(type="submit") Last Name Ascending

            form(action="/users/-lastname", method="get")
                input(type="hidden", name="lastname", value="lastname")
                button(type="submit") Last Name Descending
            
            form(action="/users/email", method="get")
                input(type="hidden", name="email", value="email")
                button(type="submit") Email Ascending

            form(action="/users/-email", method="get")
                input(type="hidden", name="email", value="email")
                button(type="submit") Email Descending

            form(action="/users/age", method="get")
                input(type="hidden", name="age", value="age")
                button(type="submit") Age Ascending

            form(action="/users/-age", method="get")
                input(type="hidden", name="age", value="age")
                button(type="submit") Age Descending
        if users.length > 0
            ul 
                each usr in users
                    li 
                        a(href="/user/" + usr.id)
                            div
                                h5= "Name: " + usr.firstname + " " + usr.lastname 
                                p= "Email: " + usr.email 
                                p= "Age: " + usr.age
                                form(action="/delete/" + usr.id, method="post")
                                    input(type="hidden", name="id", value=usr.id)
                                    button(type="submit") Delete
        else 
            p= "No users saved"