include labelInputPair.pug

- var titleText = "Users"

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= titleText
    body 
        div
            h3= titleText
            +homeButton()
        if users.length > 0
            ul 
                each usr in users
                    li 
                        a(href="/user/" + usr.id)
                            div
                                h5= "Name: " + usr.name 
                                p= "Email: " + usr.email 
                                p= "Age: " + usr.age
                                form(action="/delete/" + usr.id, method="post")
                                    input(type="hidden", name="id", value=usr.id)
                                    button(type="submit") Delete
        else 
            p= "No users saved"